*{
    margin: 0;
}
.navbar{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    padding: 30px;
    justify-content: end;
}
.nav-item-container{
    display: flex;
    column-gap: 15px
    
}
.navbar-item{
    color: #9014a9;
    background-color: aliceblue;
}